<article class="marketing-card legal-card">
  <h2>General</h2>
  <p>By accessing and using this website and any content and features therein
      (including but not limited to any widgets, third party services or embedded media players),
      you agree to be bound to the following Terms and the Privacy Policy and any other notices
      and guidelines and rules published by us from time to time. If you do not accept any of these terms or conditions, you must immediately discontinue your access to this website and/or use of the online services.
  The Terms and Conditions and Privacy Policy can be accessed by you at any time in the “Terms and Conditions” and “Privacy Policy” pages respectively, in our website.
  </p>
</article>
<article class="marketing-card legal-card">
  <h2>Terms of Use</h2>
  <p>If you fail to comply with any term or condition of these Terms and Conditions, it may result in the termination of your account with or without notice to you.
  You agree not to upload or otherwise make available any Content that is unlawful, harmful, obscene, invasive of another's privacy, hateful, contains profanities or otherwise objectionable as deemed by our team.
  </p>
  <br>
  <h2>Copyright and Trademark</h2>
  <p>The materials located on this website including the information and software programs (the Contents), are protected by copyright, trademark and other forms of proprietary rights.
  As such, they may not be reproduced, transmitted, published, performed, broadcast, stored, adapted, distributed, displayed, licensed, altered, hyperlinked or otherwise used in whole or in part in any manner without prior written consent.</p>
</article>
<article class="marketing-card legal-card">
  <h2>Right of Access</h2>
  <p>We may terminate any of your Services at any time for such period we may deem reasonable, without ascribing any reasons whatsoever.
  </p>
  <br>
  <h2>Indemnity and Liability</h2>
  <p>The Contents of this website are provided on an “as is” basis without warranties of any kind. Activity Alligator shall also not be liable for any damage or loss of any kind caused as a result (direct or indirect) of the use of the website.</p>
</article>
<article class="marketing-card legal-card">
  <h2>DPO Clause</h2>
  <p>In accordance with the PDPA, we have appointed a Data Protection Officer. If you have any questions or complaints regarding your personal data, please contact our DPO at [Insert Email Address].</p>
  <br>
  <h2>Withdrawal from our Service</h2>
  <p>In accordance with the PDPA, we have appointed a Data Protection Officer. If you have any questions or complaints regarding your personal data, please contact our DPO at [Insert Email Address].</p>
</article>
<article class="marketing-card legal-card">
  <h2>Governing Law</h2>
  <p>These Terms and Conditions shall be governed by the Singapore law.
    If your personal data is transferred outside of Singapore, we will take steps to ensure that your data continues to receive a standard of protection that is at least comparable to that provided under the PDPA.</p>
  <br>
  <h2>Others</h2>
  <p>Please prioritise your academics and don't end up booking for too many events that you do not have time to commit to. Activity Alligator is not responsible for any misuse or overcommitment or schedule clashes.</p>
</article>
