<!doctype html>
<html>
  {% extends "landing.html" %}
  {% block content %}
  <body>
    <h1 class="headline">What is (insert name) about?</h1>
    <div class="bottomhalf">
      <p class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae
        metus tempus, semper ante ac, tristique tortor. Vestibulum ante ipsum
        primis in faucibus orci luctus et ultrices posuere cubilia curae;
        Aliquam risus elit, hendrerit sit amet ultricies in, gravida id lectus.
        Praesent suscipit tincidunt lectus, a rhoncus diam lacinia ac.
      </p>
    </div>
    <div class="filler"></div>
    {% include "partials/footer.html" %}
  </body>
  {% endblock %}
</html>
