<!DOCTYPE html>
<html>
<head>
    <title>Activity Display</title>
</head>
<body>
    <h1>All Activities</h1>

    <table border="1">
        <tr>
            <th>Name</th>
            <th>Detail</th>
            <th>Date</th>
            <th>Time</th>
        </tr>

        {% for activity in data %}
        <tr>
            <td>{{ activity["name"] }}</td>
            <td>{{ activity["detail"] }}</td>
            <td>{{ activity["date"] }}</td>
            <td>{{ activity["time"] }}</td>
        </tr>
        {% endfor %}

    </table>
</body>
</html>
</html>