<!doctype html>
<html>
  <head>
    {% extends "landing.html" %}
    {% block content %}
    <body>
      <h1 class="headline">Contact Us</h1>
      <div class="filler">
        <form action="{{ url_for('contact') }}" method="POST">
            <div class="input-fields-container">
              <div class="input-group" max>
                <table>
                  <tr>
                    <td><input type="email" name="email" placeholder="Email" required /></td>
                    <td><input type="text" name="name" placeholder="Name" required /></td>
                  </tr>
                </table>
                <div class="input-group message-group">
                  <textarea name="message" placeholder="Message" required></textarea>
                </div>
              </div>
              <button type="submit">Send</button>
            </div>
        </form>
      </div>
    {% include "partials/footer.html" %}
  </body>
  {% endblock %}
</html>
