#Forgot password Page
<!doctype html>
<html>
  <head>
    <link rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}" />
    <title>Forgot Password</title>
  </head>
  <body>
    <div class="authcontainer">
      <div class="login-card">
        <h1>Forgot Password?</h1>

        <form method="POST" action="/forgot-password">
          <div class="input-fields-container">

            <div class="input-group">
              <input type="email" name="email"
                placeholder="Enter your email" required />
            </div>

            <button type="submit">Send Reset Link</button>
          </div>
        </form>

        <a href="/login" class="forgot-pass">Back to login</a>
      </div>
    </div>
  </body>
</html>