<!doctype html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://gstatic.com" crossorigin />
    <link href="https://googleapis.com" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>Forgot Password</title>
  </head>
  <body>
    <div class="authcontainer">
      <div class="login-card">
        <h1>Forgot password?</h1>
        <form action="/reset" method="post">
          <div class="input-fields-container forgot-password-form">
            <div class="input-group email-group forgot-email-row">
              <input type="email" placeholder="Email" required />
              <button type="button" class="verify-btn">Send email</button>
            </div>
            <div class="input-group forgot-wide-row">
              <input type="text" placeholder="Verification code" required />
            </div>
            <button type="submit" class="forgot-wide-row">Verify</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
