<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
    <title>Forgot Password</title>
  </head>

  <body>
    <div class="authcontainer">
      <div class="login-card">
        <h1>Forgot password?</h1>
        <form action="{{ url_for('auth.forgot_password') }}" method="POST">
          <div class="input-fields-container">
            <div class="input-group">
              <input type="email" name="email" placeholder="Email" required />
            </div>
            <button type="submit" class="verify-btn" style="width: 100%; max-width: 20rem; text-align: center;">
              Send Reset Link
            </button>
          </div>
        </form>
        <a href="{{ url_for('auth.login') }}" class="forgot-pass">Back to login</a>
      </div>
    </div>
  </body>
</html>