<!doctype html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://gstatic.com" crossorigin />
    <link href="https://googleapis.com" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>Reset Password</title>
  </head>
  <body>
    <div class="authcontainer">
      <div class="login-card">
        <h1>Enter new password</h1>
        <form action="/reset" method="post">
          <div class="input-fields-container forgot-password-form">
            <div class="input-group forgot-wide-row">
              <input type="password" placeholder="Password" required />
            </div>
            <div class="input-group forgot-wide-row">
              <input type="password" placeholder="Confirm password" required />
            </div>
            <button type="submit" class="forgot-wide-row">Update password</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
