<!doctype html>
<html>
  <head>
    {% include "partials/stylesheets.html" %}
    <title>Reset Password</title>
  </head>
  <body>
    <div class="authcontainer">
      <div class="login-card">
        <h1>Reset Password</h1>
        <form action="{{ url_for('auth.reset_password') }}" method="POST">
          <input type="hidden" name="token" value="{{ token }}">
          <div class="input-fields-container"><div class="input-group">
            <input type="password" name="password"
              placeholder="New password" required>
          </div>
          <div class="input-group">
            <input type="password" name="confirm_password"
              placeholder="Confirm password" required>
          </div>
          <button type="submit">
              Reset Password
            </button>
          </div>
        </form>
        <a href="{{ url_for('auth.login') }}" class="forgot-pass">Back to login</a>
      </div>
    </div>
  </body>
</html>